{% extends 'templates/app.twig' %}

{% block title %}{{ products.first.category }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<a href="{{ path_for('category.get', {category: products.first.category}) }}">
				<button class="btn btn-default btn-sm" type="button">
					{{ products.first.category }} <a href="{{ path_for('home') }}"><span><i class="fa fa-times" aria-hidden="true"></i></span></a>
				</button>
			</a>
			
			{% if subCategories[0] %}
				<div class="dropdown">
					<button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Select Sub-Category <span><i class="fa fa-caret-down" aria-hidden="true"></i></span></button>
					<ul class="dropdown-menu">
						{% for subCategory in subCategories %}
					    	<li>
					    		<a href="{{ path_for('subCategory.get', {subCategory: subCategory['sub-category']}) }}">
					    			{{ subCategory['sub-category'] }}
					    		</a>
					    	</li>
				    	{% endfor %}
				    </ul>
				</div>
			{% endif %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6">
			<div class="thumbnail">
				<form action="{{ path_for('upload') }}" method="post">
					<div>
						<input type="hidden" role="uploadcare-uploader" name="design" data-crop="free" data-images-only="true" data-clearable="true" required />
						<input type="hidden" name="category" value="{{ products.first.category }}"/>
						<button type="submit" class="btn btn-default upload-button">Upload</button>
					</div>
				</form>
			</div>
		</div>

		{% for index, product in products %}
			<div class="col-lg-3 col-md-3 col-sm-6">
				{% include 'products/partials/item.twig' with {product: product} %}
			</div>
			{% if (index+1)%4 == 0 %}
				</div>
				<div class="row">
			{% endif %}
		{% endfor %}		
	</div>
{% endblock %}