{% extends 'templates/app.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12 col-sm-12">

			{% if product.category %}
				<a href="{{ path_for('category.get', {category: product.category}) }}">
					<button class="btn btn-default btn-sm" type="button">{{ product.category }}</button>
				</a>
			{% endif %}
							
			{% if product['sub-category'] %}
				<a href="{{ path_for('subCategory.get', {subCategory: product['sub-category']}) }}">
					<button class="btn btn-default btn-sm" type="button">{{ product['sub-category'] }}</button>
				</a>
			{% endif %}

			{% if product.classification %}
			<a href="{{ path_for('classification.get', {classification: product.classification}) }}">
				<button class="btn btn-default btn-sm" type="button">{{ product.classification }}</button>
			</a>
			{% endif %}

			{% if product.specification %}
			<a href="{{ path_for('specification.get', {specification: product.specification}) }}">
				<button class="btn btn-default btn-sm" type="button">{{ product.specification }}</button>
			</a>
			{% endif %}
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<img src="{{ product.image }}" alt="{{ product.title }} image" class="thumbnail img-responsive">
		</div>
		<div class="col-md-8">
			<div class="well">
				{% if product.hasLowStock() %}
					<span class="label label-warning">Low Stock</span>
				{% endif %}

				{% if product.outOfStock() %}
					<span class="label label-danger">Out of Stock</span>
				{% endif %}

				<h3>{{ product.title }}</h3>
				<p>{{ product.description }}</p>

				<hr>

				<table class="table">
					<tr>
						<td>Price</td>
						<td>${{ product.price | number_format(2) }}</td>
					</tr>
					<tr>
						<td>Shipping</td>
						<td>$5.00</td>
					</tr>
					<tr>
						<td class="success">Total</td>
						<td class="success">${{ (product.price + 5) }}</td>
					</tr>
				</table>

				<a href="{{ path_for('home') }}" class="btn btn-default btn-md pull-left">Home</a>
			
				{% if product.inStock() %}
					<a href="{{ path_for('cart.add', {slug: product.slug, quantity: 1}) }}" class="btn btn-default btn-md pull-right">Add to Cart</a>
				{% endif %}
			</div>
		</div>	
	</div>
{% endblock %}